@model Book

@{
    ViewData["Title"] = "Szczegóły książki";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageUrl" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>Autor: </b>
                            <a asp-controller="Authors" asp-action="Details" asp-route-id="@Model.AuthorId">
                                @Model.Author.FullName
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Wydawnictwo: </b>
                            <a asp-controller="Publishers" asp-action="Details" asp-route-id="@Model.PublisherId">
                                @Model.Publisher.Name
                            </a>
                        </p>
                        <p class="card-text"><b>Kategoria: </b>@Model.BookCategory</p>
                        <p class="card-text"><b>Data wydania: </b>@Model.ReleaseDate.ToString("dd-MM-yyyy")</p>
                        <p class="card-text ">
                            @if (@Model.ReleaseDate > DateTime.Now)
                            {
                                <span class="badge bg-danger text-white">PRZEDSPRZEDAŻ</span> 
                            }
                            else if (@Model.ReleaseDate > DateTime.Now.AddMonths(-3))
                            {
                                <span class="badge bg-success text-white">NOWOŚĆ</span>
                            }

                            @if (@Model.AverageRating.HasValue && @Model.AverageRating >= 9)
                            {
                                <span class="badge bg-info text-white">BESTSELLER</span>
                            }
                        </p>
                        <p class="card-text"><b>Ocena: </b>@Model.AverageRatingString</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Powrót
                            </a>
                            <a class="btn btn-success text-white"
                                asp-controller="Orders"
                                asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i> Dodaj do koszyka (Cena @Model.Price.ToString("c"))</a>
                        </p>
                    </div>
                </div>  
            </div>
        </div>
        @if (Model.Reviews != null && Model.Reviews.Count() > 0)
        {            
            <div style="margin:10px;">Opinie:</div>
            @foreach (var review in Model.Reviews)
            {
                <div class="col-md-12 text-center">
                    <p style="font-style: italic;">@review.Text</p>
                    <span>~ @review.ReviewerName, Ocena: <b>@review.RatingString</b></span>
                    <hr/>
                </div>
            }
        }
    </div>
</div>